[Unit]
Description=Run PowPowPow QUBIC epoch engine every 10 minutes

[Timer]
OnCalendar=*:00/10:00
Persistent=true
RandomizedDelaySec=1min
Unit=pow-qubic-epoch.service

[Install]
WantedBy=timers.target
