[Unit]
Description=Run PowPowPow local retention every 30 minutes

[Timer]
OnBootSec=20min
OnUnitInactiveSec=1800
Unit=pow-r2-retention.service

[Install]
WantedBy=timers.target
