[Unit]
Description=Compact PowPowPow closed partitions daily

[Timer]
OnCalendar=*-*-* 00:12:00 UTC
Persistent=true
RandomizedDelaySec=5min
Unit=pow-warehouse-compact.service

[Install]
WantedBy=timers.target
