[Unit]
Description=Check PowPowPow freshness every 5 minutes

[Timer]
OnCalendar=*:00/5:00
Persistent=false
Unit=pow-health.service

[Install]
WantedBy=timers.target
